.nav-list {
  display: flex;
  gap: 40px;
  padding: 0;
}

.nav-link :focus {
  color: #404bbf;
}

.nav-link.current:hover::after {
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-right: 40px;

  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:last-child {
  margin-right: 0px;
}

/* <!-- SECTION HERO --> */
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-button:hover {
  background-color: #404bbf;
}
.head-button:focus {
  background-color: #404bbf;
}
/* SECTION PAGE */

.page-list {
  display: flex;
  gap: 24px;
}

.page-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.page-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-item {
  width: calc((100% - 72px) / 4);
}

/* SECTION MAIN */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.main {
  background-color: #f4f4fd;
}
.main-list {
  display: flex;
}
.main-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  margin-right: 24px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.main-item:last-child {
  margin-right: 0px;
}
.main-block {
  padding: 32px 0;
}

.main-photo {
  background: url('path_to_image');
}
.main-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.main-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.social-icon {
  fill: #f4f4fd;
}

/* SECTION PORTFOLIO */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}
.overlay {
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay {
  transform: translateY(0%);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* FOOTER */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-container-top {
  margin-right: 120px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.span-logo {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-social-list {
  gap: 16px;
}
.footer-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.footer-container-form {
  margin-left: 80px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  outline: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input::placeholder {
  padding: 8px 16px;
  color: #ffffff;
}
.footer-input:hover {
  background-color: #31d0aa;
  border: none;
}
.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  min-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-send {
  fill: #fcfcfc;
  margin-left: 16px;
}
.footer-button:hover {
  background-color: #31d0aa;
}

/* ======MODAL===== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #e7e9fc;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button:hover > .modal-button-icon.icon,
.modal-button:focus > .modal-button-icon.icon {
  fill: #ffffff;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}

.user-info {
  margin-bottom: 8px;
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-input {
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border: 1px solid #4d5ae5;
}
.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.user-form {
  position: relative;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:hover,
.modal-textarea:focus {
  border: 1px solid #4d5ae5;
}
.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 24px;
}

.label-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.user-icon-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked + .label-checkbox > .user-icon-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-button-send {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 24px auto;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-send:hover {
  background-color: #404bbf;
  border: none;
}
